In [54]:
a = 2
type(a)

int

In [55]:
id(a)

140715444638560

  # id(a) through we find the address Of  Object 2 becouse hear Object 2 is Not a

In [56]:
type(b)

set

In [57]:
a = [1,2,3,4,2,2,3,4,5,4,3]

In [58]:
b = set(a)

In [59]:
b

{1, 2, 3, 4, 5}

# List
    --> Ordered
    --> Indexed
    --> Im - Mutable
    --> Slicable

In [105]:
a  = [1,12,3]

In [106]:
a[0]  = 10

In [107]:
a.count(2)

0

In [108]:
a.sort(reverse = True)

In [109]:
a

[12, 10, 3]

In [110]:
a.extend

In [111]:
a

[12, 10, 3]

In [112]:
a.append(2)

In [113]:
a.append([1,2,3])

In [114]:
a

[12, 10, 3, 2, [1, 2, 3]]

In [115]:
a[4][1]

2

In [116]:
a.extend([12,35,45,68])

In [117]:
a

[12, 10, 3, 2, [1, 2, 3], 12, 35, 45, 68]

In [118]:
a.append(3)

In [119]:
a

[12, 10, 3, 2, [1, 2, 3], 12, 35, 45, 68, 3]

In [120]:
del a[4][0]

In [121]:
a

[12, 10, 3, 2, [2, 3], 12, 35, 45, 68, 3]

In [122]:
a.count(3)

2

In [124]:
a.sort() # We can't compare a list to a variable

TypeError: '<' not supported between instances of 'list' and 'int'

In [125]:
a  = [12, 10, 3, 2, 12, 35, 45, 68, 3]

In [127]:
b = a.sort()

In [128]:
b

In [129]:
b = [1,43,4,43,4,34,34]

In [130]:
b.pop()

34

In [131]:
b.clear()

In [132]:
b

[]

# Tuple

    --> Imutable
    --> Ordered 
    --> Indexed

In [78]:
a = ()    # To create a Empty Set
a = tuple()  # We can Also Create Empty Tuple Like This

In [79]:
a =  (1,2,3)

In [80]:
a

(1, 2, 3)

In [81]:
a

(1, 2, 3)

In [82]:
a[0] = 20    # Becouse Tuple Is Imutable

TypeError: 'tuple' object does not support item assignment

In [136]:
a = (12, 10, 3, 2, [1, 2, 3], 12, 35, 45, 68)

In [137]:
a

(12, 10, 3, 2, [1, 2, 3], 12, 35, 45, 68)

# Dictionary
    
    --> UnOrdered
    --> Mutable
    --> Indexable

In [84]:
a = {}
a  = dict()  # Use to Create Empty Dictionary

In [133]:
Car = {"Suzuki": "Swift", "TATA": "HEXA", "KIA":"Seltos"}

In [86]:
Car['Suzuki']

'Swift'

In [87]:
a  = {"j": [1,4,5,6,7,5,3,221]}

In [88]:
a

{'j': [1, 4, 5, 6, 7, 5, 3, 221]}

In [89]:
a['j'][4]

7

In [134]:
Car.keys()

dict_keys(['Suzuki', 'TATA', 'KIA'])

# Set

    --> Unordered
    --> No Indexable
    --> Mutable

In [90]:
a = set() # Its Throgh we create Empty Set

In [91]:
a = ([1,2,3,4])

In [92]:
a

[1, 2, 3, 4]

In [138]:
a = {1,23,454,5453,434}
b = {2,54,23,124,4545,434}

In [94]:
a.intersection_update(b)

In [95]:
b

{2, 23, 54, 124, 434, 4545}

In [96]:
a

{23, 434}

# Number
    1 int
    2 float
    3 Complex


    --> List
    --> Tuple
    --> Set
    --> Dictionary

In [97]:
s = 'Shubham'

In [98]:
s [0]

'S'

In [99]:
s [-7]

'S'

In [100]:
s = 'Shubham'

In [101]:
s[::-1]

'mahbuhS'

In [102]:
s[1:-2:1]

'hubh'

# String
    --> String are the set of the collection
    --> Ordered
    --> Indexable
    --> Im - Mutable
    --> Slicable

In [1]:
temp = "Shubham"

In [141]:
temp[0] # Hence it is Indexable and Ordered

'S'

In [142]:
temp[0] = 'M' # Hence it is Not Mutable

TypeError: 'str' object does not support item assignment

In [146]:
temp.islower()

False

In [147]:
temp.upper()

'SHUBHAM'

In [148]:
temp.lower()

'shubham'

In [2]:
temp.isupper()

False

In [149]:
temp

'Shubham'

In [28]:
temp = 'Shubham Jangid'

# String Slicing

    --> Syntex Of Slicing : ---->    [Starting_Index:Ending_Value:Jump]
    --> Jump[+] : -->  Left To Right
    --> Jump[-] : -->  Right To Left

In [29]:
temp[2:2:-1]

''

In [30]:
temp[::-1]

'dignaJ mahbuhS'

# LATEX

     --> $$ sqrt{r*r} $$

$$ \sqrt{r*r} $$

# Operators in Python

    --> Arithmetic Operators
        +, -, *, /, //, %, **
    
    
    --> Logical Operators
        and, or, not
    
    
    --> Relational/Conditional Operators
        <, >, ==, >=, <= , !=
       
       
    --> Membership Operators
        in
        
        
    --> Identity Operators
        is

In [5]:
10 // 2 # floar Division

5

In [8]:
a = "Shubham " * 3

In [9]:
a

'Shubham Shubham Shubham '

In [11]:
'Shubh' in a

True

In [12]:
type(True)

bool

In [21]:
a = "Shubham "

In [22]:
a

'Shubham '

In [25]:
c = a is "Shubham"

In [26]:
c

False

In [34]:
num = 4342

In [35]:
if (num == 4342):
    print("NUM is 4342")
else:
    print('NUM is Not 4342')

NUM is 4342

In [37]:
if num == 23:
    print(23)
elif num == 32323:
    print(4343434)
else :
    print(4342)

4342

# How take User Input in Python

    --> ver_Name = input("message")

In [40]:
a = input("Enter a Number ")

print("Entered Number is ",a)

Enter a Number 365
Entered Number is  365

In [41]:
print('Shubham',"Jangid")

Shubham Jangid

In [42]:
print('Shubham')
print("Jangid")

Shubham
Jangid

In [46]:
print("Shubham", end = "*****") # Change the end Value
print("Jangid","At MAISM",sep = "---") # Change the Seprate Value

Shubham*****Jangid---At MAISM

# Change Input Type In Python

In [47]:
a  = int(input("Enter First Value "))

b = int(input("Enter Second Value"))

print("Addition is ",a+b)

Enter First Value 25
Enter Second Value35
Addition is  60

# Iterative Statement In Python


    --> for loop
    --> while loop

In [51]:
for i  in  range(1,10,1): # range(Starting_pos, Ending_pos, Jump)
    print("Value Of i is ",i)

Value Of i is  1
Value Of i is  2
Value Of i is  3
Value Of i is  4
Value Of i is  5
Value Of i is  6
Value Of i is  7
Value Of i is  8
Value Of i is  9

In [52]:
a = 0
while(a<10):
    print("Value Of A is ",a)
    a+=1

Value Of A is  0
Value Of A is  1
Value Of A is  2
Value Of A is  3
Value Of A is  4
Value Of A is  5
Value Of A is  6
Value Of A is  7
Value Of A is  8
Value Of A is  9

In [53]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Fnction And Classes In Python

    --> def Functio_Name():
    
    funtion Body

    --> class Class_Name:
    
    class Body

In [6]:
def Name(n = "Null"):
    print(n)

In [8]:
Name()

Null

In [7]:
Name("Shubham")

Shubham

In [11]:
def show(a,b):
    print(a , end = " ")
    print(b)

In [12]:
show(b = 'Jangid', a = "Shubham")

Shubham Jangid

In [24]:
def write(*z):
    print(z)
    sum(z)
    print(sum)

In [25]:
write(1,23,43,5,83,3,4,34,74,32,33)

(1, 23, 43, 5, 83, 3, 4, 34, 74, 32, 33)
<built-in function sum>

# Key Word Variable Length Argument

    --> def function_name(** argument):
        body

In [1]:
def printAll(**k):
    print(k)

In [2]:
printAll(f = "2", n = "5")

{'f': '2', 'n': '5'}

# List Comprihention

In [48]:
a = [x for x in range (0,11)]

In [49]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
li = [i for i in range(10) for j in range (2)]

In [52]:
li

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]

In [ ]:
# for i in range(10):
#     for j in range(2):

# Lambda function
    --> One Liners 
    --> Not required Return Function

In [5]:
a = lambda a,b : a*b

In [6]:
a(12,4)

48

In [53]:
a = lambda i:True if i>0 else False

In [54]:
a(10)

True

    --> Python Program to Check Prime Number Using Lambda Function

    --> Git Is A Distributed Version Control System.
    --> What is Distributed Version Control System?

# Constructor
    --> def __init__():

In [14]:
class Student:
    def __init__(self,name,roll_no):
        self.name = name
        self.roll_no = roll_no
        print("Object Created")

In [15]:
b = Student("Shubham Jangid", "101")

Object Created

In [17]:
print(b.name)
print(b.roll_no)

Shubham Jangid
101

In [18]:
class Student_1:
    def __init__(self,name,roll_no):
        self.name = name
        self.roll_no = roll_no
        print("Object Created")
    def Name(self):
        print(self.name)

In [19]:
b = Student_1("Shubham", 101010)
Student_1.Name(b)

Object Created
Shubham

# Static Member

In [21]:
class Student_1:
    cls = 3
    def __init__(self,name,roll_no):
        self.name = name
        self.roll_no = roll_no
        print("Object Created")
    def Name(self):
        print(self.name)

In [23]:
b = Student_1("Shubham", 101010)
print(Student_1.cls)

Object Created
3

# Inheritance In Python

In [29]:
class Person:
    def __init__(self):
        print("Object Created")
    def Name(self):
        print("Shubham")

In [32]:
class Student(Person):
    def __init__(self):
        print("Student Object")

In [33]:
z = Student()
z.Name()

Student Object
Shubham

In [37]:
class Advance(Student):
    def __init__(self):
        Student.__init__(self)

In [38]:
c = Advance()

Student Object

In [39]:
isinstance(c, Advance)

True

In [40]:
class A:
    def Math(self):
        print("Class A Call")

In [42]:
class B:
    def Math(self):
        print("Class B Call")

# Method Resolution Order
    --> First Check menthod in Argument's first Class than argument's second Class and so on
    and after That Check Last Class Which Inherit All Class

In [44]:
class C(A,B):
    pass

In [46]:
x = C()
x.Math()

Class A Call

# Exception Handling
    Exception Class Hierarchic  
        --> Base Exception
            --> Exception 
                --> Standered Exception
                --> Warning Exception
    
    --> try:
            body of try
        except:
            body of except

In [6]:


try:
    
    a = int(input("Enter A Number :-    "))
    b = int(input("Enter A Number :-    "))
    
    c = a/b

except ZeroDivisionError:
    print("Zero Dividion Error")

except :
    print("Something Went Wrong")
else :
    print("All Is Going Right")

print(c)

Enter A Number :-    45
Enter A Number :-    5
All Is Going Right
9.0

In [8]:
try:
    b = int(input())
    
except :
    print("Something Went Wrong")
    
finally :
    print("Good Bye Thaks For Using It")

as
Something Went Wrong
Good Bye Thaks For Using It

# File Handling

    --> File Modes
        --> r :-  Read Mode
        --> w :-  Write Mode
        --> a :-  Append Mode
        --> x :-  If File Exit Than Don't Create Another File
        --> rb :-  Read In Binary
        --> wb :-  WriteIn Binary

In [6]:
try :
    a = open("Student.txt","w")
    for i in range(0,100):
        a.write("Python Is Awesome\n")
    a.close()
    
except :
    print("Something Went Wrong")

In [7]:
try :
    a = open("Student.txt","r")
    data = a.readlines()
    print(len(data))
    a.close()    
except :
    print("Something Went Wrong")

100

    --> Serialization : object to byte
    --> deserialization : byte to object

In [31]:
import pickle # # pickle is a module which convert bytes and Transfer Thats bytes into File and vise versa
class Student:
    def __init__(self,Name,Age,Roll_no):
    
        self.__Name = Name;  # __ private Instance Vairable
        self._Age = Age;     # _ Protected Data Member
        self.Roll_no = Roll_no;
    
    def display(self):
        print(self.Name)
        print(self.Age)
        print(self.Roll_no)

In [32]:
a = Student("Shubham Jangid ", 20 , 101)

In [36]:
c.__dict__

{'_Student__Name': 'Shubham Jangid ', '_Age': 20, 'Roll_no': 101}

In [37]:
c.__dict__['_Age'] = 25

In [38]:
c.__dict__

{'_Student__Name': 'Shubham Jangid ', '_Age': 25, 'Roll_no': 101}

# Name Mangling

In [39]:
c.__dict__['_Student__Name'] = "Shubham"

In [40]:
c.__dict__

{'_Student__Name': 'Shubham', '_Age': 25, 'Roll_no': 101}

In [33]:
with open("details.dat","wb") as z:
    pickle.dump(a,z) # pickle is a module which convert bytes and Transfer Thats bytes into File

In [34]:
with open("details.dat","rb") as x:
    c = pickle.load(x)
c.display()

AttributeError: 'Student' object has no attribute 'Name'

In [35]:
c.__dict__

{'_Student__Name': 'Shubham Jangid ', '_Age': 20, 'Roll_no': 101}

# Custom Exception

    --> Makes Our Own Exception

In [13]:
class MyException(Exception):
    def __init__(self,arg):
        self.msg = arg

In [15]:
try:
    a = 5
    raise MyException("a Can't Be 5") # Use To Throw Exception
except MyException as ME :
    print(ME)

a Can't Be 5

    --> tell
    --> seek

# Magic Method

    --> puss
    --> pull
    --> Forks
    --> Branches