In [1]:
string="Hello World"

In [2]:
string[0]  #-----> indexing

'H'

In [3]:
string[0:5]  # --> Slicing starts here

'Hello'

## Main motive of slicing on string or on any iterable is to take sub set of the iterable

In [4]:
string[::1]

'Hello World'

In [5]:
string[0:5:1]

'Hello'

In [7]:
string[0:5:2]

'Hlo'

### Syntax :-  string[starting_index : ending value : jump]
    * Positively Jump
    * Negatively Jump
    
### Strings index starts from 0 and ends with len(string) - 1 
    --> for example string="Hello World" 
    -->    indexes=0,1,2,3,4,5,6,7,8,9,10
    --->   as well as if we count from last indexes are also -1,-2,-3,-4,-5,-6,-7,-8,-9,-10,-11 (-1 is the last element and -11 is the first element of the string )

In [8]:
string

'Hello World'

In [9]:
string[5::-1]

' olleH'

In [10]:
string[5:0:-2]

' le'

In [11]:
string[::-1]

'dlroW olleH'

### We can perform slicing on lists also

In [12]:
li=[1,2,3,4,5,6,7,8]

In [13]:
li[0:5:2]

[1, 3, 5]

## Same as slicing on strings

In [14]:
a=int(input("Enter number"))

Enter number12

In [15]:
print("Hello World","to the world of Python","We can give as many strings we want to give here separated by comma",sep='\n',end=" ")

Hello World
to the world of Python
We can give as many strings we want to give here separated by comma

In [16]:
print("yes")

yes

In [17]:
print("Hello World","to the world of Python","We can give as many strings we want to give here separated by comma",sep='\n',end=" ")
print("Helllo again")

Hello World
to the world of Python
We can give as many strings we want to give here separated by comma Helllo again

### FOrmatted Strings

In [18]:
string="Hello"
print(f"{string} World to python")

Hello World to python

In [19]:
string="We are doing really great"

In [21]:
print("{} seriously".format(string))

We are doing really great seriously

In [22]:
string

'We are doing really great'

In [23]:
string[0]

'W'

In [26]:
string[0]="Y"    # ---> Strings are immutable

TypeError: 'str' object does not support item assignment

## Sets and Frozen Sets

In [27]:
var=set([1,2,3,4,5,6,7])

In [28]:
var

{1, 2, 3, 4, 5, 6, 7}

In [29]:
di={1:"Hello",2:"World"}

In [30]:
di[1]

'Hello'

In [31]:
di[2]

'World'

In [32]:
di[1]="Change Me"

In [33]:
di

{1: 'Change Me', 2: 'World'}

In [34]:
var

{1, 2, 3, 4, 5, 6, 7}

In [37]:
var.add(10)

In [38]:
var

{1, 2, 3, 4, 5, 6, 7, 10}

In [39]:
var1={5,6,7,8,9,10}

In [40]:
var1

{5, 6, 7, 8, 9, 10}

In [41]:
print(type(var1))

<class 'set'>

### How can we create empty data structures

In [47]:
var2=set()   #--- > creates an empty set

In [48]:
li=[]     #----> creates an empty list

In [51]:
tu=()   # ---> creates an empty tuple

In [52]:
di={}      # ----> creates an empty dictionary

In [53]:
var

{1, 2, 3, 4, 5, 6, 7, 10}

In [54]:
var1

{5, 6, 7, 8, 9, 10}

In [55]:
var.difference(var1)

{1, 2, 3, 4}

In [56]:
var.intersection(var1)

{5, 6, 7, 10}

In [57]:
var.union(var1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [58]:
var.isdisjoint(var1)

False